<!doctype html>
<html lang="en" ng-app="App">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/bootstrap.min.css">
    <link rel="stylesheet" href="/style.css">
    <title>Class Swap</title>

    <script src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
        crossorigin="anonymous">
    </script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous">
    </script>


    <script src="https://use.fontawesome.com/c7b95123ff.js"></script>
    <script src="https://code.angularjs.org/1.6.0-rc.2/angular.min.js"></script>
    <script src="./app.js"></script>

</head>
<body>
    <main class="container" ng-controller="MainController as vm">

        <header class="row">
            <div class="col-md-12">
                <div class="card">
                    <span class="pull-right">
                        <i class="fa fa-mortar-board fa-5x"></i>
                    </span>
                    <h1>Class Swap</h1>
                </div>
            </div>
        </header>

        <section class="row">

            <div class="col-md-8">
                <div class="card">
                   <h3>Students</h3>
                   <ul class="list-group">
                       <li ng-repeat="s in vm.students"
                               class="list-group-item">
                            <p>
                                <span class="pull-right">
                                    <i class="fa fa-times"
                                        ng-click="vm.del($index)"
                                        style="cursor:pointer">
                                    </i>
                                </span>
                                <strong>{{s[0]}}</strong>
                            </p>
                            <span>
                                <p>
                                    has: <span ng-repeat="h in s[1] track by $index"
                                            class="badge">{{h}}</span>
                                </p>
                                <p>
                                    wants: <span ng-repeat="w in s[2] track by $index"
                                            class="badge">{{w}}</span>
                                </p>
                            </span>
                            <span ng-show="vm.got">
                                <p>schedule: <span ng-repeat="c in s[3] track by $index"
                                                class="badge">{{c}}</span>
                                </p>
                            </span>
                       </li>
                   </ul>
                   <button class="btn btn-primary"
                       ng-disabled="vm.got"
                       ng-click="vm.submit(vm.students)">
                       Generate class swaps
                   </button>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card">
                    <form>

                        <h3>New student</h3>
                        <label>netid:
                            <input class="form-control" ng-model="vm.new_student[0]">
                        </label>

                        <div class="row">

                            <div class="col-md-6">
                                <label>has (", " separated):
                                    <input class="form-control" ng-model="vm.new_student[1]">
                                </label>
                            </div>

                            <div class="col-md-6">
                                <label>wants (", " separated, in order of preference):
                                    <input class="form-control" ng-model="vm.new_student[2]">
                                </label>
                            </div>
                        </div>

                        <button class="btn btn-success" ng-click="vm.add_student(vm.new_student)">
                            Add
                        </button>

                    </form>
                </div>
            </div>
        </section>


    </main>
</body>
</html>
